<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto" id="skills-content">
        <h2 class="mb-5">Skills</h2>
        {{ range $.Site.Data.skills }}
        <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
        <ul class="tags">
            {{ range .skills }}
            <li><a class="tag" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</section>
