{{ define "main" }}
<!-- this is displayed for a specific tag, and will link content related -->
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">

  Projects with skill  <span class="tag">{{ .Data.Term }}</span>
    <ul>
      {{ range .Data.Pages }}
          <li>
             <a href="/#{{.File.BaseFileName}}">{{.Title}}</a>
              -
              {{.Params.company}}
              ({{ partial "projectDate" .Date }} - {{ partial "projectDateString" .Params.end_date }})
         </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
